{%  extends 'nurse/main.html' %}
{% load crispy_forms_tags %}
{% block content %}
<style>

body {
  background: url(../static/images/background.jpg);

}
</style>
  
  

     
        
        <p>We are seeking people with vaccinated to serve our world. Fill in the information below to indicate how you would like to become involved.</p>



    <form class="site-form" action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form|crispy }}
    <button type="submit" class="btn btn-success">Save person</button>
  </form>


{% endblock %}